:root {
	--card-thickness-1:
		drop-shadow(0 0 1px rgba(0, 0, 0, 0.5))
		drop-shadow(0 1px 2px rgba(0, 0, 0, 0.23));
	--card-thickness-2:
		drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5))
		drop-shadow(0 1px 3px rgba(0, 0, 0, 0.23));
	--card-thickness-3:
		drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5))
		drop-shadow(0 1px 4px rgba(0, 0, 0, 0.23));
	--card-elevated-1:
		drop-shadow(0 1.25rem 3rem rgba(0, 0, 0, 0.30))
		drop-shadow(0 1rem 2rem rgba(0, 0, 0, 0.22));
}

html {
	font-size: 14px;
	font-family: monospace;
}

#hud {
	position: fixed;
	left: 0;
	top: 0;
}

.paper {
	background-color: white;
	filter: var(--card-thickness-1);
}

[oceloti-card] {
	transition: filter, transform cubic-bezier(0.16, 1, 0.3, 1) 300ms;
}

[oceloti-card-state="elevated"] {
	transform: scale(1.015);
	filter: var(--card-elevated-1);
	cursor: move;
}

[oceloti-dialog] {
	border: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	border-radius: 0.5rem;
}

[oceloti-dialog]::backdrop {
	background-color: rgba(0, 0, 0, 0.65);
}

.nugget {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.35rem;
	border-radius: 0.5rem;
	background-color: whitesmoke;
}

.nugget > p {
	display: flex;
	padding: 0 0.5rem;
}

.nugget-error {
	background-color: lightsalmon;
	color: black;
}

.nugget-success {
	background-color: darkseagreen;
	color: black;
}

button {
	display: flex;
	align-items: center;
	line-height: 1.2;
	background: lightgray;
	color: black;
	padding: 0.15rem 0.5rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: lightblue;
}