:root {
	--card-thickness-1:
		drop-shadow(0 0 1px rgba(0, 0, 0, 0.5))
		drop-shadow(0 1px 2px rgba(0, 0, 0, 0.23));
	--card-thickness-2:
		drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5))
		drop-shadow(0 1px 3px rgba(0, 0, 0, 0.23));
	--card-thickness-3:
		drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5))
		drop-shadow(0 1px 4px rgba(0, 0, 0, 0.23));
	--card-elevated-1:
		drop-shadow(0 1.25rem 3rem rgba(0, 0, 0, 0.30))
		drop-shadow(0 1rem 2rem rgba(0, 0, 0, 0.22));
	--card-elevated-2:
		drop-shadow(0 1.25rem 1.5rem rgba(0, 0, 0, 0.30))
		drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.22));
	--ease-curve-1:
		cubic-bezier(0.16, 1, 0.3, 1);
}

html {
	font-size: 14px;
	font-family: monospace;
}

[oceloti-card] {
	transition: filter, transform var(--ease-curve-1) 300ms;
}

[oceloti-card-state="elevated"] {
	transform: scale(1.015);
	filter: var(--card-elevated-1) !important;
}

[oceloti-dialog] {
	border: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	border-radius: 0.5rem;
}

[oceloti-dialog]::backdrop {
	background-color: rgba(0, 0, 0, 0.25);
}

#hud {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	padding: 12px;
	transition: opacity var(--ease-curve-1) 200ms;
	z-index: 999999;
}

.has-zoom #hud {
	opacity: 0;
	pointer-events: none;
	user-select: none;
}

.is-scrolling #hud {
	opacity: 0;
	pointer-events: none;
	user-select: none;
}

.button,
button {
	display: flex;
	align-items: center;
	gap: 3px;
	line-height: 1.2;
	background: lightgray;
	color: black;
	padding: 0.15rem 0.5rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	text-transform: lowercase;
	transition: filter, transform var(--ease-curve-1) 150ms;
	filter: drop-shadow(2px 2px);
	text-decoration: none;
}

.button:hover,
button:hover {
	background-color: lightblue;
}

.button:active,
button:active {
	background-color: skyblue;
	transform: scale(0.95);
	filter: drop-shadow(0px 0px);
}

.button.selected,
button.selected {
	background-color: skyblue;
}

.button[disabled],
button[disabled] {
	opacity: 0.5;
	pointer-events: none;
	font-style: italic;
}

.button *,
button * {
	pointer-events: none;
}

.button .emoji,
button .emoji {
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
}

.nugget {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.35rem;
	border-radius: 0.5rem;
	background-color: lavender;
}

.nugget > p {
	display: flex;
	padding: 0 0.5rem;
}

.nugget-error {
	background-color: lightsalmon;
	color: black;
}

.nugget-success {
	background-color: darkseagreen;
	color: black;
}

.emoji {
	font-family: "Noto Color Emoji", sans-serif;
}