#oceloti-context-menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 4px;
	max-width: 200px;
	width: fit-content;
	height: fit-content;
	background: lightgray;
	padding: 3px;
	filter: drop-shadow(-1px -1px white) drop-shadow(2px 2px);
	border-radius: 4px;
	z-index: 9999999;
}

#oceloti-context-menu .separator {
	width: 100%;
	border-bottom: 1px solid silver;
}


#oceloti-context-menu .separator:first-child {
	display: none;
}

#oceloti-context-menu button {
	white-space: nowrap;
	width: 100%;
	filter: none;
	border-radius: 2px;
}

#oceloti-context-menu button:hover {
	background-color: silver;
}

#oceloti-context-menu button:active {
	background-color: silver;
}