[oceloti-thing="notebook-paper"] {
	height: fit-content;
	padding: 8px 12px;
	padding-left: 24px;
	background-image: var(--assets-bgs-grid1-png);
	background-color: #f9f7ee;
	background-size: 20px;
	background-position: 8px 8px;
	image-rendering: pixelated;
	line-height: 20px;
	box-shadow: var(--thing-thickness-1-fast);
	overflow: hidden;
	resize: both;
}

[oceloti-thing="notebook-paper"]::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 16px;
	width: 1px;
	height: 100%;
	background: #ffbfbf;
}

[oceloti-thing="notebook-paper"]::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 18px;
	width: 1px;
	height: 100%;
	background: #ffbfbf;
}

[oceloti-thing="notebook-paper"] [oceloti-ref="content"] {
	min-height: 100px;
	height: fit-content;
	word-wrap: break-word;
	overflow: hidden;
}

[oceloti-thing="notebook-paper"] [oceloti-ref="content"]:focus {
	outline: none;
}

/*[oceloti-thing="notebook-paper"][oceloti-inner-state="read"] [oceloti-ref="content"] {
	user-select: none;
-webkit-user-select: none;
}
*/