[oceloti-thing-state="idle"] {
	cursor: var(--assets-cursors-grab-svg), grab;
}

.is-dragging * {
	user-select: none;
-webkit-user-select: none;
	cursor: var(--assets-cursors-grabbed-svg), grabbing;
}