[oceloti-thing-state="idle"] {
	cursor: var(--assets-cursors-grab-svg) 10 10, grab;
}

.is-dragging * {
	user-select: none;
-webkit-user-select: none;
	cursor: var(--assets-cursors-grabbed-svg) 10 10, grabbing;
}